@{
    ViewBag.Title = "Om klubben";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <h3>Klubbens historie</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue, diam ultricies commodo imperdiet, lorem justo blandit ante, eu laoreet nisi mauris ac massa. Nullam sollicitudin, orci non blandit rutrum, risus urna maximus ipsum, quis iaculis enim tellus nec augue. Integer vel risus a nunc rhoncus pretium in eget metus. Nulla feugiat purus eget viverra luctus. Fusce faucibus massa odio, a porttitor libero venenatis sed. Nam pretium leo non augue sagittis, vitae ornare velit ultrices. Sed non ipsum non ante sollicitudin convallis. Mauris et ligula vitae purus mattis consectetur. Curabitur ac arcu at risus tincidunt pretium vel efficitur enim. Vestibulum sit amet pellentesque turpis. Curabitur in metus et orci iaculis interdum. Donec vitae pretium mauris. Donec vitae massa non purus elementum aliquam vitae nec nibh. Etiam gravida justo nec erat sodales pulvinar. Quisque lobortis ligula dolor, non pharetra sem dapibus ut. Suspendisse commodo diam et velit varius, eget tincidunt lacus tempus.</p>
    </div>

    <hr />

    <div class="row">
        <h3>Vil du være medlem?</h3>

        <strong>Priser:</strong>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Pris</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ung</td>
                        <td>300 kr/år</td>
                    </tr>
                    <tr>
                        <td>Normal</td>
                        <td>500 kr/år</td>
                    </tr>
                    <tr>
                        <td>Ung</td>
                        <td>200 kr/år</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>